---
 const personalImageAlt = "Ángela Cerón"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1 text-justify"
  >
    <p>
        Mi nombre es Ángela Cerón. Soy Ingeniera de Sistemas, egresada de la Universidad de Nariño, y actualmente estoy en proceso de
         titulación. He trabajado como desarrolladora web durante más de dos años, utilizando herramientas como 
         <strong>.Net, C#, SQL Server, HTML, CSS y Bootstrap.</strong> Combinar el trabajo con mis estudios ha sido una excelente oportunidad para
          aplicar en la práctica los conocimientos adquiridos en el aula.
    </p>

    <p>
        <h2 class="text-2xl font-semibold mb-4">Logros Académicos</h2>
        <ul class="list-disc list-inside [&>li>strong]:text-yellow-500 dark:[&>li>strong]:text-yellow-100 [&>li>strong]:font-normal [&>li>strong]">
            <li><strong class=" text-yellow-100 font-normal" >Beca para el Campamento Internacional 2024 en Shaoxing, China</strong>, otorgada por el mejor promedio en la Universidad de Nariño, sede Ipiales.</li>
            <li><strong>Beca Fundación Banco de Bogotá</strong>.</li>
            <li><strong>Matrículas de Honor</strong> en los semestres III, IV, VIII, IX y X.</li>
        </ul>
         
        <br>
        Estos reconocimientos son un testimonio de mi dedicación y compromiso. Cada uno de ellos ha sido el resultado de un esfuerzo constante y una profunda pasión por mi carrera. Son logros que no solo reflejan mi responsabilidad, sino también mi determinación para superar cada desafío con excelencia.
    </p>

  </div>

  <img width="200" height="200" src="/angela2.jpeg" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">

</article>


