---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "Enero 2022 - Mayo 2024",
    title: "Programadora  Junior",
    company: "Compañia de Software Tecnología Y Finanzas - SOFTFINANTEC",
    description:
      "Desarrollé diferentes módulos en el software financiero, alineados con la normatividad vigente y los requerimientos del cliente. Colaboré en la actualización de interfaces principales y brindé soporte a otros módulos, utilizando tecnologías tanto de frontend como de backend."
  },
  {
    date: "Diciembre 2021",
    title: "Tutora de programación",
    company: "Universidad de Nariño",
    description:
      "Impartí sesiones de apoyo en Programación I, a estudiantes de primer semestre de Ingeniería de Sistemas. Complementé las explicaciones del docente con ejemplos prácticos y aclaré ejercicios vistos en clase, facilitando la comprensión de conceptos fundamentales de la programación mediante diagramas de flujo y prácticas guiadas.",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
